.AddMember {
  /* grid-column: 1 / -1; */
  position: relative;
  display: flex;
  justify-content: center;
  width: 110px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: var(--border-radius);
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.AddMember:hover {
  border-color: var(--orange-background);
  color: var(--orange-background);
}
.AddMember i {
  font-size: 24px;
  margin-right: 5px;
}

.AddMember button {
  position: absolute;
  color: #fff;
  height: calc(100% + 2px);
  width: 40px;
  top: -1px;
  right: -40px;
  background-color: transparent;
  border: 1px solid #fff;
  border-top-right-radius: var(--border-radius);
}

.AddMember form {
  display: flex;
  z-index: 500;
}
.AddMember input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #888;
  color: #fff;
  padding: 5px;
  margin: 0 5px;
}
.AddMember input:first-child {
  width: 70%;
}
.AddMember input:nth-child(2) {
  width: 20%;
}
