.NewClinic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.NewClinic form {
  display: flex;
  align-items: center;
  max-width: 300px;
  z-index: 1;
}
.NewClinic form > div {
  margin-right: 20px;
}

.Button {
  height: 135px;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--orange-background);
  line-height: 1.2;
  cursor: pointer;
}
.Button:hover {
  background-color: #555;
}
.Button span {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
