.Button {
  padding: 10px;
  /* margin: 10px; */
  background-color: #bd0701;
  color: white;
  font: inherit;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

/* .Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
} */

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}

.Login {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 1.1em;
  color: var(--grey-background);
  background-color: #03dac5;
}
.Signup {
}
