.History {
  color: #fff;
  text-align: center;
  /* width: 100vw; */
}

.History h1 {
  font-size: 2em;
}
.History table {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
.History thead {
  font-size: 1.3em;
  /* font-weight: 600; */
  border-bottom: 1px solid #ccc;
}
.History td {
  text-align: center;
  padding: 10px;
  /* border-bottom: 1px solid #ccc; */
}

.Alternate {
  background-color: rgb(109, 87, 46);
}

.History button {
  background: none;
  border: 1px solid #ccc;
}
