.Input {
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.Label {
  display: block;
  margin-bottom: 4px;
}

.InputElement {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  border-bottom: 1px solid rgb(112, 112, 112);
  color: #fff;
  padding: 6px 4px 4px 4px;
  margin: 5px 0;
}

.InputElement:focus:not([type='checkbox']) + label,
.InputElement:not([value='']) + label {
  transform: translateY(-160%);
  font-size: 0.9em;
  left: 0;
}
.Input label {
  position: absolute;
  bottom: 16px;
  left: 4px;
  transition: 0.2s ease;
  z-index: -1;
}
.Input .Invalid {
  border-bottom: 2px solid red;
  margin-bottom: 4px;
}
.Invalid + label {
  color: red;
}
.InputElement[type='checkbox'] {
  margin: 0;
}
.InputElement[type='checkbox'] + label {
  display: unset;
  position: relative;
}
.InputElement[type='checkbox'].Hide,
.InputElement[type='checkbox'].Hide + label {
  display: none;
}
