.TOC {
  margin-top: 20px;
}

.TOC h1 {
  border: 1px solid #ea641d;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 4px;
  font-size: 1.5em;
}

.TOC ul {
  margin-left: 10px;
  margin-top: 10px;
}

.TOC li {
  margin-top: 10px;
  color: #ea641d;
  text-decoration: underline;
  cursor: pointer;
}
